<br>
<h1>{{obj.fullName()}}</h1>
<br>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingZero">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
                {{score.getTotal().points}} Punkte
            </button>
        </h2>
        <div id="collapseZero" class="accordion-collapse collapse" aria-labelledby="headingZero">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <b>Lernen:</b> {{score.getLearning().points}} Punkte mit {{score.getLearning().count}} Herausforderungen
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <b>Organisieren:</b> {{score.getOrganizing().points}} Punkte mit {{score.getOrganizing().count}}
                    Herausforderungen
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <b>Netzwerken:</b> {{score.getNetworking().points}} Punkte mit {{score.getNetworking().count}}
                    Herausforderungen
                </li>
            </ul>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTrend">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTrend" aria-expanded="false" aria-controls="collapseTrend">
                Punktetrend
            </button>
        </h2>
        <div id="collapseTrend" class="accordion-collapse collapse" aria-labelledby="headingTrend">
            <br>
            <div echarts [options]="chartOption" autoresize="true" class="demo-chart"></div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                {{accepted_challenges.count}} abgeschlossene Herausforderungen
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Punkte</th>
                        <th scope="col">Gültig von</th>
                        <th scope="col">Gültig bis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of accepted_challenges.objects | 
                paginate: { itemsPerPage: 10, currentPage: accepted_challenges_page, totalItems: accepted_challenges.count }; index as i"
                        (dblclick)="onEditChallenge(obj)">
                        <th scope="row">{{(accepted_challenges_page-1) * 10 + i + 1}}</th>
                        <td>
                            <fa-icon [icon]="getCategorgyIcon(obj)"></fa-icon>&nbsp;{{obj.name}}
                        </td>
                        <td>{{obj.points}}</td>
                        <td>{{obj.validity_start}}</td>
                        <td>{{obj.validity_end}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="onAcceptedChallengesPaginate($event)"></pagination-controls>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{received_badges.count}} erhaltene Abzeichen
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Erhalten am</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of received_badges.objects | 
                        paginate: { itemsPerPage: 10, currentPage: received_badges_page, totalItems: received_badges.count }; index as i"
                        (dblclick)="onEditBadge(obj)">
                        <th scope="row">{{(received_badges_page-1) * 10 + i + 1}}</th>
                        <td>{{obj.name}}</td>
                        <td>{{obj.received | date:'dd.MM.yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="onReceivedBadgesPaginate($event)"></pagination-controls>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {{friends.count}} Freunde
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Vorname</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">Nickname</th>
                        <th scope="col">Rolle</th>
                        <th scope="col">EMail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of friends.objects | paginate: { itemsPerPage: 10, currentPage: friends_page, totalItems: friends.count }; index as i"
                        (dblclick)="onEditUser(obj)">
                        <th scope="row">{{(friends_page-1) * 10 + i + 1}}</th>
                        <td>{{obj.firstname}}</td>
                        <td>{{obj.lastname}}</td>
                        <td>{{obj.nickname}}</td>
                        <td>{{obj.getRoleName()}}</td>
                        <td><a href="mailto:{{obj.email}}">{{obj.email}}</a></td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="onFriendsPaginate($event)"></pagination-controls>
        </div>
    </div>
</div>
<br>
<button class="btn btn-primary" (click)="goBack()">Zurück</button>