<br>

<h1>Bearbeite Semester</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label" for="acronym">Kurzname:</label>
        <input type="text" class="form-control" id="shortname" formControlName="shortname" 
        [ngClass]="{
        'is-invalid': form.controls.shortname.invalid && form.controls.shortname.dirty,
        'is-valid': form.controls.shortname.valid && form.controls.shortname.dirty}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name"
        [ngClass]="{
            'is-invalid': form.controls.name.invalid && form.controls.name.dirty,
            'is-valid': form.controls.name.valid && form.controls.name.dirty}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Anfang:</label>
        <input type="date" class="form-control" id="start" formControlName="start"
        [ngClass]="{
            'is-invalid': form.controls.start.invalid && form.controls.start.dirty,
            'is-valid': form.controls.start.valid && form.controls.start.dirty}">
        <div *ngIf="form.controls.start.hasError('invalidperiod')">
            <small class="text-danger">Das Ende des Semesters muss mindestes einen Tag nach dem Anfang liegen!</small>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Ende:</label>
        <input type="date" class="form-control" id="start" formControlName="end"
        [ngClass]="{
            'is-invalid': form.controls.end.invalid && form.controls.end.dirty,
            'is-valid': form.controls.end.valid && form.controls.end.dirty}">
        <div *ngIf="form.controls.end.hasError('periodwithoveraps')">
            <small class="text-danger">Das Semester darf nicht mit einem anderen Semester überlappen!</small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Ok</button>&nbsp;
    <button type="button" class="btn btn-success" (click)="onCancel()">Abbrechen</button>
</form>