<br>
<h1>Password vergessen?</h1>

<form style="margin-top:30px;" [formGroup]="form">
    <div class="mb-3">
        <label class="form-label" for="email">E-Mail-Adresse des Gamucation-Accounts eingeben</label>
        <input type="email" class="form-control" id="email" placeholder="E-Mail-Adresse" formControlName="email">
    </div>
    <div>
        <button type="button" class="btn btn-danger" style="float:right"
                (click)="onPasswordReset()" [disabled]="form.controls.email.invalid">
            Passwort vergessen
        </button>
    </div>
</form>
<br>