<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.12" package="de.gameucation" android:installLocation="auto" android:versionCode="12">
	<uses-sdk android:minSdkVersion="31" android:targetSdkVersion="31" />
	<application android:label="Gameucation" android:icon="@mipmap/ic_launcher" android:theme="@style/MainTheme">
		<provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.google.android.gms.permission.AD_ID" />
</manifest>