<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index">StudyBuddy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Items["user"] != null)
                        {
                            var user = Context.Items["user"] as User;
                            @if (user.IsAdmin)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Master Data
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/StudyProgram">Study Programs</a>
                                        <a class="dropdown-item" href="/Term">Terms</a>
                                        <a class="dropdown-item" href="/User">Users</a>
                                    </div>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Challenge">Challenges</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (Context.Items["user"] != null)
                        {
                           <li class="nav-item">
                               <a class="nav-link text-dark" asp-controller="Settings" asp-action="Index">Personal Settings</a>
                           </li> 
                        }
                        <li class="nav-item">
                            @if (Context.Items["user"] == null)
                            {
                            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Login">Login</a>
                            }
                            else
                            {
                            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Logout">Logout</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            &copy; 2021 - StudyBuddy
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
