<br>

<h1>Bearbeite Studiengang</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="acronym">Acronym:</label>
      <input type="text" class="form-control" id="acronym" formControlName="acronym" 
      [ngClass]="{
        'is-invalid': form.controls.acronym.invalid && form.controls.acronym.dirty,
        'is-valid': form.controls.acronym.valid && form.controls.acronym.dirty}">
        <div *ngIf="form.controls.acronym.hasError('notunique')">
          <small class="text-danger">Ein Studiengang mit diesem Acronym existiert bereits!</small>
        </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="name">Name:</label>
      <input type="text" class="form-control" id="name" formControlName="name"
      [ngClass]="{
        'is-invalid': form.controls.name.invalid && form.controls.name.dirty,
        'is-valid': form.controls.name.valid && form.controls.name.dirty}">
    </div>
    <button type="submit" class="btn btn-primary">Ok</button>&nbsp;
    <button type="button" class="btn btn-success" (click)="onCancel()">Abbrechen</button>
</form>