<br>

<h1>Benutzer verwalten</h1>

<button class="btn btn-info" 
  [disabled]="!isSelected()"
  (click)="onInfo()">Info</button>&nbsp;

<button class="btn btn-success" 
  [disabled]="!isEditable()"
  (click)="onEdit()">Bearbeiten</button>&nbsp;

<button class="btn btn-danger" 
  [disabled]="!isDeletable()"
  (click)="onDelete()">Löschen</button>

<br>
<br>

<table class="table table-bordered">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Vorname</th>
      <th scope="col">Nachname</th>
      <th scope="col">Nickname</th>
      <th scope="col">Rolle</th>
      <th scope="col">EMail</th>
      <th scope="col">Registriert am</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of objects | paginate: { itemsPerPage: 10, currentPage: page, totalItems: total }; index as i" 
        (click)="onSelect(obj)"
        (dblclick)="onEdit(obj)"
        [class.table-info]="obj == selected">
        <th scope="row">{{(page-1) * 10 + i + 1}}</th>
          <td>{{obj.firstname}}</td>
          <td>{{obj.lastname}}</td>
          <td>{{obj.nickname}}</td>
          <td>{{obj.getRoleName()}}</td>
          <td><a href="mailto:{{obj.email}}">{{obj.email}}</a></td>
          <td>{{obj.created|date:'dd.MM.yyyy'}}</td>
          <td>{{obj.getStatus()}}</td>
    </tr>
  </tbody>
  </table>
<pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>