<br>
<button class="btn btn-primary" (click)="onAdd()">Neu</button>&nbsp;
<button class="btn btn-danger" [disabled]="!isSelected()" (click)="onDelete()">Löschen</button>&nbsp;
<button class="btn btn-info" [disabled]="!isSelected()" (click)="onAccept()">Akzeptieren</button>&nbsp;
<br>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Erstellt</th>
            <th scope="col">Von</th>
            <th scope="col">Für</th>
            <th scope="col">Typ</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of objects; index as i" (click)="onSelect(obj)" [class.table-info]="obj == selected">
            <th scope="row">{{i + 1}}</th>
            <td>{{obj.created | date:'YYYY-MM-dd'}}</td>
            <td>{{getFullNamOfUser(obj.sender)}}</td>
            <td>{{getFullNamOfUser(obj.recipient)}}</td>
            <td>{{obj.type | requesttype}}</td>
        </tr>
    </tbody>
</table>