<br>
<div class="col-10">
  <button class="btn btn-primary" (click)="onAdd()">Neu</button>&nbsp;
  <button class="btn btn-success" [disabled]="!isSelected()" (click)="onEdit()">Bearbeiten</button>&nbsp;
  <button class="btn btn-info"  [disabled]="!isSelected()" (click)="onSuccess()">Erfolg</button>&nbsp;
  <button class="btn btn-danger" [disabled]="!isSelected()" (click)="onDelete()">Löschen</button>
</div>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col" *ngIf="user.isAdmin()">Besitzer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of objects | paginate: { itemsPerPage: 10, currentPage: page, totalItems: total }; index as i" (click)="onSelect(obj)" (dblclick)="onEdit(obj)"
      [class.table-info]="obj == selected">
        <th scope="row">{{(page-1) * 10 + i + 1}}</th>
      <td>{{obj.name}}</td>
      <td *ngIf="user.isAdmin()">{{obj.owner.fullName()}}</td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>