<br>
<h1>Password zurücksetzen</h1>
<div *ngIf="showError" class="alert alert-danger" role="alert">
    Das Passwort konnte nicht zurückgesetzt werden. <a [routerLink]="['/login/forgotpassword']"> Hier neuen Link anfordern. </a>
</div>
<div *ngIf="showSuccess" class="alert alert-success" role="alert">
    Das Passwort wurde zurückgesetzt. <a [routerLink]="['/login']"> Hier geht es zum Login. </a>
</div>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
    <div class="row g-2">
        <div class="col-md">
            <label class="form-label" for="acronym">Passwort:</label>
            <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{
            'is-invalid': resetPasswordForm.controls.password.invalid && resetPasswordForm.controls.password.dirty,
            'is-valid': resetPasswordForm.controls.password.valid && resetPasswordForm.controls.password.dirty}">
        </div>
        <div class="col-md">
            <label class="form-label" for="acronym">Passwort Wiederholung:</label>
            <input type="password" class="form-control" id="confirm" formControlName="confirm"
                   [ngClass]="{
            'is-invalid': resetPasswordForm.controls.confirm.invalid && resetPasswordForm.controls.confirm.dirty,
            'is-valid': resetPasswordForm.controls.confirm.valid && resetPasswordForm.controls.confirm.dirty}">
        </div>
        <div *ngIf="resetPasswordForm.hasError('passwordmismatch')">
            <small class="text-danger">Achtung: Passwort und Wiederholung müssen übereinstimmen!</small>
        </div>
        <div *ngIf="resetPasswordForm.hasError('passwordunsafe')">
            <small class="text-danger">Achtung: Das Passwort muss aus mindestes 6 Zeichen bestehen!</small>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">Password ändern</button>&nbsp;
        </div>
    </div>
</form>