<br>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email" >
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" >
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
</form>

<br>

<div  *ngIf="login_error">
    <div class="alert alert-danger" role="alert">
        Es konnte kein Benutzer mit dieser E-Mail-Adresse oder mit diesem Passwort gefunden werden!
    </div>

    <br>

    <button class="btn btn-warning" (click)="onPasswordReset()">Passwort vergessen</button>
</div>