<br>

<h1>Was ist der StudyBuddy?</h1>

<p>Die Gamification-Plattform StudyBuddy soll dich auf spielerische Art 
und Weise im kompletten Studium begleiten und in den unterschiedlichsten 
Situationen des Studiums unterstützen. Bei dieser digitalen 
Plattform handelt es sich um ein Projekt der Ausschreibung <a href="https://www.dh.nrw/kooperationen/Digi-Fellows-2">Fellowship 
für Innovationen in der digitalen Hochschullehre</a>.</p>

<p>Ziel dieses Projekt ist es dich mit Hilfe von Spielelementen dabei zu unterstützen, den Gesamterfolg deines
kompletten Studiums zu erhöhen. Hierbei geht es jedoch nicht darum, dich für deine üblichen Lernerfolge wie
beispielsweise gute Noten zu belohnen. Vielmehr möchten wir deine Eigenmotivation fördern und dir durch klare
Orientierung und kleine Ziele deinen Fortschritt sichtbar machen.</p>

<p>Alles was du tun musst sind kleinere und größere Challenges in den Bereichen Lernen, Organisieren und Netzwerken zu
erledigen. Du gehst eh immer zu allen Veranstaltungen – super du kannst ganz einfach nebenbei auch noch Punkte dabei
machen. Und falls es noch nicht dein Ding ist, motiviert es dich ja vielleicht häufiger mal wieder Veranstaltung in
Präsenz oder synchron zu besuchen. Hierdurch sammelst du nämlich Punkte und hast die Möglichkeit in Rankings und Ligen
aufzusteigen. Somit kannst du, indem du mehr Challenges abschließt, auf den Bestenlisten nach oben rutschen oder auch in
die nächsthöhere Liga aufsteigen. Du wirst außerdem mit Abzeichen, sogenannten Badges, belohnt, indem du beispielsweise
eine exakte Punktzahl in einer Kategorie bekommst oder eine bestimmte Anzahl von Challenges erledigst.</p>

<p>All deine Erfolge kannst du, wenn du möchtest mit deinen Kommilitonen teilen und dadurch ebenfalls Punkte erhalten.
Genauso hast du aber auch die Möglichkeit zu sehen, welche Challenges deine Freunde bereits abgeschlossen haben oder
auf welche Badges du dich noch freuen kannst.</p>

<p>So viel zu dem groben Konzept des StudyBuddy – jetzt heißt es motiviert deinen Studienalltag anzugehen und dadurch
nebenbei noch Challenges zu erledigen und ordentlich Punkte zu sammeln. Du hast noch Fragen, dann wende dich gerne an 
uns: Kontakt</p>