@using StudyBuddy.Model
@model StudyProgram
@{
    ViewData["Title"] = "Edit Study Program";
}

<h1>Edit Study Program</h1>

<form method="POST" asp-controller="StudyProgram" asp-action="Save">
    <div asp-validation-summary="ModelOnly"></div>

    
</form>