<br>
<h1>Erfolg von Herausforderung</h1>
<p>Bislang haben {{objects.length}} Nutzer die Herausforderung '{{challenge.name}}' angenommen.</p>
<button class="btn btn-primary" (click)="goBack()">Zurück</button>&nbsp;
<button class="btn btn-danger" [disabled]="!isSelected()" (click)="onRemove()" *ngIf="current_user.isAdmin()">Entfernen</button>
<br>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">Nickname</th>
            <th scope="col">EMail</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of objects; index as i" (click)="onSelect(obj)" 
            [class.table-info]="obj == selected">
            <th scope="row">{{i + 1}}</th>
            <td>{{obj.firstname}}</td>
            <td>{{obj.lastname}}</td>
            <td>{{obj.nickname}}</td>
            <td><a href="mailto:{{obj.email}}">{{obj.email}}</a></td>
        </tr>
    </tbody>
</table>
<br>
<div class="mb-3" *ngIf="current_user.isAdmin() && all_users.length > 0">
    <label for="select" class="form-label">Email address</label>
    <select id="select" class="form-select" aria-label="Default select example" #select>
        <option *ngFor="let obj of all_users; index as i" value="{{obj.id}}">{{obj.fullName()}}</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary" (click)="onAddUser(select.value)">Nutzer hinzufügen</button>
</div>