<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483028289697-1knn1196d53onbl47p6c4spceuqs01gu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483028289697-1knn1196d53onbl47p6c4spceuqs01gu</string>
	<key>API_KEY</key>
	<string>AIzaSyALncOsdUN-xjpZ7hVp2_qzaajVU4UOv_k</string>
	<key>GCM_SENDER_ID</key>
	<string>483028289697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.hshl.App</string>
	<key>PROJECT_ID</key>
	<string>studybuddybackend</string>
	<key>STORAGE_BUCKET</key>
	<string>studybuddybackend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483028289697:ios:0d483ef1a2afd7829388e0</string>
	<key>DATABASE_URL</key>
	<string>https://studybuddybackend-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>