<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>14</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>App</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>UIAppFonts</key>
	<array>
		<string>fabrands.otf</string>
		<string>faregular.otf</string>
		<string>fasolid.otf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>StudyBuddy möchte QR-Codes scannen.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Um ein Profilbild auszuwählen benötigt StudyBuddy Zugriff auf die Photos.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>No</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Um manche Herausforderungen abzuschließen, benötigt der StudyBuddy den aktuellen Standort.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Um ein Profilbild auszuwählen benötigt StudyBuddy Zugriff auf die Photos.</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.22</string>
	<key>CFBundleIdentifier</key>
	<string>de.gameucation</string>
	<key>CFBundleDisplayName</key>
	<string>Gameucation</string>
	<key>NSContactsUsageDescription</key>
	<string>Gameucation benötigt keinen Zugriff. Warum diese Beschreibung notwendig ist, ist unklar.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Gameucation benötigt keinen Zugriff. Warum diese Beschreibung notwendig ist, ist unklar.</string>
	<key>NSSiriUsageDescription</key>
	<string>Gameucation benötigt keinen Zugriff. Warum diese Beschreibung notwendig ist, ist unklar.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Gameucation benötigt keinen Zugriff. Warum diese Beschreibung notwendig ist, ist unklar.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Gameucation benötigt keinen Zugriff. Warum diese Beschreibung notwenig ist, ist unklar.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Gameucation benötigt keinen Zugriff. Warum diese Beschreibung notwendig ist, ist unklar.</string>
</dict>
</plist>
