<div class="container border bg-light" style="padding:10px">
    <div class="row">
        <div class="col">
            <div class="row align-items-center">
                <div class="col-auto">
                    <label for="suche" class="col-form-label">Suche:</label>
                </div>
                <div class="col">
                    <input type="text" id="suche" name="suche" class="form-control" (keyup)="onKeySearch($event)">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" (click)="selectAll()">Alle</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="selectNone()">Keine</button>&nbsp;
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label">{{selected_objects.length}} Ausgewählte Elemente:</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:8px;">
        <div class="col">
            <ul class="list-group" style="height:8.7em; overflow: scroll; width: auto; overflow-y:scroll;"
                *ngIf="all.length > 0">
                <li *ngFor="let xyz of all" class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="{{xyz.id}}" id="{{name}}_{{xyz.id}}"
                        (change)="onChange(xyz.id)" [checked]=isChecked(xyz.id) *ngIf="!isSingleMode()"
                        name="{{name}}">
                    <input class="form-check-input me-1" type="radio" value="{{xyz.id}}" id="{{name}}_{{xyz.id}}"
                        (change)="onChange(xyz.id)" [checked]=isChecked(xyz.id) *ngIf="isSingleMode()"
                        name="{{name}}">
                    <label class="form-check-label" for="{{name}}_{{xyz.id}}">{{xyz.name}}</label>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group" style="height:8.7em; overflow: scroll; width: auto; overflow-y:scroll;">
                <li *ngFor="let obj of selected_objects" class="list-group-item">
                    <label class="form-check-label">{{obj.name}}</label>
                </li>
            </ul>
        </div>
    </div>
</div>