<br>
<h1>Bearbeite Herausforderung</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{
            'is-invalid': form.controls.name.invalid && form.controls.name.dirty,
            'is-valid': form.controls.name.valid && form.controls.name.dirty}">
        <div *ngIf="form.controls.name.hasError('invalidname')">
            <small class="text-danger">Der Name darf nicht leer sein!</small>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Beschreibung:</label>
        <textarea class="form-control" id="description" formControlName="description" rows="3">
        </textarea>
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Punkte:</label>
        <input type="text" class="form-control" id="name" formControlName="points" [ngClass]="{
            'is-invalid': form.controls.name.invalid && form.controls.points.dirty,
            'is-valid': form.controls.name.valid && form.controls.points.dirty}">
    </div>
    <div class="row g-2">
        <div class="col-md">
            <label class="form-label" for="validity_start">Gültig ab:</label>
            <input type="date" class="form-control" id="validity_start" formControlName="validity_start" [ngClass]="{
                'is-invalid': form.controls.validity_start.invalid && form.controls.validity_start.dirty,
                'is-valid': form.controls.validity_start.valid && form.controls.validity_start.dirty}">
        </div>
        <div class="col-md">
            <label class="form-label" for="validity_end">Gültig bis:</label>
            <input type="date" class="form-control" id="validity_end" formControlName="validity_end" [ngClass]="{
                'is-invalid': form.controls.validity_end.invalid && form.controls.validity_end.dirty,
                'is-valid': form.controls.validity_end.valid && form.controls.validity_end.dirty}">
            <div *ngIf="form.controls.validity_end.hasError('invalidperiod')">
                <small class="text-danger">Das Ende der Herausforderung darf nicht vor dem Anfang liegen!</small>
            </div>
        </div>
    </div>
    <br>
    <div class="row g-2">
        <div class="col-md">
            <label class="form-label" for="category">Kategorie:</label>
            <select class="form-select" formControlName="category">
                <option value="1">Lernen</option>
                <option value="2">Netzwerken</option>
                <option value="3">Organisieren</option>
            </select>
        </div>
        <div class="col-md">
            <label class="form-label" for="prove">Beweis:</label>
            <select class="form-select" formControlName="prove">
                <option value="1">Durch Vertrauen</option>
                <option value="2">Durch einen QR-Code</option>
                <option value="3">Durch Bestätigung eines/einer Freundes/Freundin</option>
                <option value="4">Durch Standort</option>
                <option value="5">Durch ein Schlüsselwort</option>
                <option *ngIf="user.isAdmin()" value="6">Durch Systembeweis</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row g-2" *ngIf="form.controls.prove.value == 4">
        <div class="col-md">
            <label class="form-label" for="latitude">Breitengrad:</label>
            <input type="text" class="form-control" id="latitude" formControlName="latitude" [ngClass]="{
                'is-invalid': form.controls.latitude.invalid && form.controls.latitude.dirty,
                'is-valid': form.controls.latitude.valid && form.controls.latitude.dirty}">
        </div>
        <div class="col-md">
            <label class="form-label" for="longitude">Längengrad:</label>
            <input type="text" class="form-control" id="longitude" formControlName="longitude" [ngClass]="{
                'is-invalid': form.controls.longitude.invalid && form.controls.validity_end.dirty,
                'is-valid': form.controls.longitude.valid && form.controls.longitude.dirty}">
        </div>
        <div class="col-md">
            <label class="form-label" for="radius">Radius (m):</label>
            <input type="text" class="form-control" id="radius" formControlName="radius" [ngClass]="{
                'is-invalid': form.controls.radius.invalid && form.controls.radius.dirty,
                'is-valid': form.controls.radius.valid && form.controls.radius.dirty}">
        </div>
    </div>
    <div class="row g-2" *ngIf="form.controls.prove.value == 5">
        <div class="col-md">
            <label class="form-label" for="keyword">Schlüsselwort:</label>
            <input type="text" class="form-control" id="keyword" formControlName="keyword" [ngClass]="{
                'is-invalid': form.controls.keyword.invalid && form.controls.keyword.dirty,
                'is-valid': form.controls.keyword.valid && form.controls.keyword.dirty}">
        </div>
    </div>
    <br *ngIf="form.controls.prove.value == 4 || form.controls.prove.value == 5">
    <div class="mb-3">
        <label class="form-label" for="name">Tags:</label>
        <input type="text" class="form-control" id="tags" formControlName="tags" [ngClass]="{
            'is-invalid': form.controls.tags.invalid && form.controls.tags.dirty,
            'is-valid': form.controls.tags.valid && form.controls.tags.dirty}">
    </div>
    <div class="mb-3" *ngIf="user.isAdmin()">
        <label class="form-label" for="category">Besitzer:</label>
        <select class="form-select" formControlName="owner_id">
            <option *ngFor="let u of all_users" [value]="u.id">{{u.fullName()}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Ok</button>&nbsp;
    <button type="button" class="btn btn-success" (click)="onCancel()">Abbrechen</button>
</form>