<div class="row g-3" >
    <div class="col-md">
        <select id="members" class="form-select" size="5" (change)="onSelectedSelected($event.target.value)" width="100%">
            <option *ngFor="let obj of selected_objects" [value]="obj.id">{{obj.firstname}} {{obj.lastname}}</option>
        </select>
    </div>
    <div class="col-md" align="center">
        <button type="button" class="btn btn-primary" (click)="remove(selected_selected)" [disabled]="selected_selected == null">
            <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
        </button>
        <br><br>
        <button type="button" class="btn btn-primary" (click)="add(all_selected)" [disabled]="all_selected == null">
            <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
        </button>
    </div>
    <div class="col-md">
        <select id="all_users" class="form-select" size="5" (change)="onAllSelected($event.target.value)" width="100%">
            <option *ngFor="let obj of all" [value]="obj.id">{{obj.firstname}} {{obj.lastname}}</option>
        </select>
    </div>
</div>