<br>
<h1>Account wiederherstellen</h1>
<br>
<span>Hier kannst du dein Gameucation-Konto wiederherstellen. Um das Konto permanent zu Löschen schicke bitte eine Anfrage per E-Mail an info@gameucation.eu.</span>
<form [formGroup]="enableAccountForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    </div>
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        Das Konto konnte nicht aktiviert werden. Bitte überprüfen sie die eingegebenen Kontodaten.
    </div>
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        Das Konto wurde reaktiviert. <a [routerLink]="['/login']"> Hier geht es zum Login. </a>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" [disabled]="enableAccountForm.invalid">Account wiederherstellen</button>
    </div>
</form>
