
        <br>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
            </div>
            <div>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
                <button type="button" class="btn btn-danger" style="float:right"
                        (click)="onPasswordReset()" [disabled]="form.controls.email.invalid">
                    Passwort vergessen
                </button>
            </div>
        </form>
        <br>
        <div *ngIf="login_error == 3">
            <div class="alert alert-danger" role="alert">
                Der von dir eingegebene Benutzername ist keinem Konto zugeordnet. 
                Bitte &uuml;berpr&uuml;fe deinen Benutzernamen und versuche es noch einmal.
            </div>
            <br>
            <button class="btn btn-warning" (click)="onPasswordReset()">Passwort vergessen</button>
        </div>
        <div *ngIf="login_error == 2">
            <div class="alert alert-danger" role="alert">
                Das eingegebene Passwort ist falsch. 
                Bitte &uuml;berpr&uuml;fe es noch einmal.
            </div>
            <br>
            <button class="btn btn-warning" (click)="onPasswordReset()">Passwort vergessen</button>
        </div>
        <div *ngIf="login_error == 999">
            <div class="alert alert-danger" role="alert">
                Als Student kann man sich nicht in das Backend von Gameuction einloggen!
            </div>
        </div>
        <div *ngIf="login_error == 7">
            <div class="alert alert-danger" role="alert">
                Der Benutzer ist deaktiviert. 
                Bitte wende dich an einen Administrator
            </div>
        </div>

   