<br>
<h1>Bearbeite Abzeichen</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{
            'is-invalid': form.controls.name.invalid && form.controls.name.dirty,
            'is-valid': form.controls.name.valid && form.controls.name.dirty}">
        <div *ngIf="form.controls.name.hasError('invalidname')">
            <small class="text-danger">Der Name darf nicht leer sein!</small>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Beschreibung:</label>
        <textarea class="form-control" id="description" formControlName="description" rows="3">
        </textarea>
    </div>
    <div class="col-md">
        <label class="form-label" for="required_coverage">Benötigte Abdeckung der Herausforderungen:</label>
        <select class="form-select" formControlName="required_coverage">
            <option value="" selected disabled hidden>Benötigte Abdeckung wählen</option>
            <option value="0.1">10%</option>
            <option value="0.2">20%</option>
            <option value="0.3">30%</option>
            <option value="0.4">40%</option>
            <option value="0.5">50%</option>
            <option value="0.6">60%</option>
            <option value="0.7">70%</option>
            <option value="0.8">80%</option>
            <option value="0.9">90%</option>
            <option value="1">100%</option>
        </select>
        <div *ngIf="form.controls.required_coverage.hasError('invalidcoverage')">
            <small class="text-danger">Bitte wählen eine Abdeckung aus!</small>
        </div>
    </div>
    <br>
    <div class="col-md">
        <label class="form-label" for="icon_key">Icon</label>
        <select class="form-select" formControlName="icon_key">
            <option value="" selected disabled hidden>Iconkey auswählen</option>
            <option value="fa-solid,f559,#bf8970">awardbronze</option>
            <option value="fa-solid,f559,#c0c0c0">awardsilver</option>
            <option value="fa-solid,f559,#FFD700">awardgold</option>
            <option value="fa-solid,f521,#bf8970">crownbronze</option>
            <option value="fa-solid,f521,#c0c0c0">crownsilver</option>
            <option value="fa-solid,f521,#FFD700">crowngold</option>
            <option value="fa-solid,f5a2,#bf8970">medalbronze</option>
            <option value="fa-solid,f5a2,#c0c0c0">medalsilver</option>
            <option value="fa-solid,f5a2,#FFD700">medalgold</option>
            <option value="fa-solid,f005,#bf8970">starbronze</option>
            <option value="fa-solid,f005,#c0c0c0">starsilver</option>
            <option value="fa-solid,f005,#FFD700">stargold</option>
            <option value="fa-solid,f091,#bf8970">trophybronze</option>
            <option value="fa-solid,f091,#c0c0c0">trophysilver</option>
            <option value="fa-solid,f091,#FFD700">trophygold</option>
        </select>
        <div *ngIf="form.controls.icon_key.hasError('invalidiconkey')">
            <small class="text-danger">Bitte wählen Sie ein Icon aus!</small>
        </div>
    </div>
    <br>
    <div class="mb-3">
        <label class="form-label" for="name">Tags:</label>
        <input type="text" class="form-control" id="tags" formControlName="tags" [ngClass]="{
            'is-invalid': form.controls.tags.invalid && form.controls.tags.dirty,
            'is-valid': form.controls.tags.valid && form.controls.tags.dirty}">
        <div *ngIf="form.controls.tags.hasError('invalidtags')">
            <small class="text-danger">Es müssen Tags vergeben werden, über welche die passenden Herausforderungen gefunden werden können!</small>
        </div>
    </div>
    <div class="mb-3" *ngIf="user.isAdmin()">
        <label class="form-label" for="category">Besitzer:</label>
        <select class="form-select" formControlName="owner_id">
            <option *ngFor="let u of all_users" [value]="u.id">{{u.fullName()}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Ok</button>&nbsp;
    <button type="button" class="btn btn-success" (click)="onCancel()">Abbrechen</button>
</form>