<br>
<h1>Bearbeite Abzeichen</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{
            'is-invalid': form.controls.name.invalid && form.controls.name.dirty,
            'is-valid': form.controls.name.valid && form.controls.name.dirty}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Beschreibung:</label>
        <textarea class="form-control" id="description" formControlName="description" rows="3">
        </textarea>
    </div>
    <div class="col-md">
        <label class="form-label" for="required_coverage">Benötigte Abdeckung der Herausforderungen:</label>
        <select class="form-select" formControlName="required_coverage">
            <option value="0.1">10%</option>
            <option value="0.2">20%</option>
            <option value="0.3">30%</option>
            <option value="0.4">40%</option>
            <option value="0.5">50%</option>
            <option value="0.6">60%</option>
            <option value="0.7">70%</option>
            <option value="0.8">80%</option>
            <option value="0.9">90%</option>
            <option value="1">100%</option>
        </select>
    </div>
    <br>
    <div class="mb-3">
        <label class="form-label" for="name">Tags:</label>
        <input type="text" class="form-control" id="tags" formControlName="tags" [ngClass]="{
            'is-invalid': form.controls.tags.invalid && form.controls.tags.dirty,
            'is-valid': form.controls.tags.valid && form.controls.tags.dirty}">
    </div>
    <div class="mb-3" *ngIf="user.isAdmin()">
        <label class="form-label" for="category">Besitzer:</label>
        <select class="form-select" formControlName="owner_id">
            <option *ngFor="let u of all_users" [value]="u.id">{{u.fullName()}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Ok</button>&nbsp;
    <button type="button" class="btn btn-success" (click)="onCancel()">Abbrechen</button>
</form>