<br>
<h1>Push-Nachricht an alle mobilen Endgeräte schicken</h1>
<form [formGroup]="form">
    <div class="mb-1">
        <label class="form-label">Titel</label>
        <input formControlName="title" type="text" class="form-control">
    </div>
    <div class="mb-1">
        <label class="form-label">Body</label>
        <textarea formControlName="body" class="form-control"></textarea>
    </div>

    <button (click)="handleSubmit()" type="submit" [disabled]="form.invalid"
        class="btn btn-primary mt-1">Senden</button>
</form>