@{
    ViewData["Title"] = "Challenges";
}
@using System.Collections.Generic
@using StudyBuddy.Model

<form method="get" asp-controller="Challenge" asp-action="New">
  <input class="btn btn-primary" type="submit" value="New Challenge">
</form>

<br>