@using StudyBuddy.Model
@model Team
@{
    ViewData["Title"] = "Edit Team";
}

<form method="POST" asp-controller="Team" asp-action="Save">
  <div asp-validation-summary="ModelOnly"></div>
  <input type="hidden" name="ID" value="@Model.ID">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="Name" value="@Model.Name">
  </div>
  <button type="submit" class="btn btn-primary">Ok</button>
</form>

